.Security {
    padding-left: 64px;
    padding-right: 64px;
    margin: 0 auto;
    width: 700px;
}

.Security_content {
    h1 {
        font-size: revert;
        font-weight: revert;
        margin: revert;
    }
}
.two{
    padding-left: 40px;
}